.food-categories, .drink-categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.food-categories button, .drink-categories button {
  background-color: var(--main-purple);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #fefefe;
  height: 40px;
  margin: 10px;
  padding: 3px 7px;
  width: 200px;
}
