.header-wrapper {
  align-items: center;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  min-height: 90px;
  padding: 20px;
  width: 100vw;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.header-container h1 {
  color: white;
  font-size: 35px;
}

.header-container input {
  filter: brightness(0) invert(1);
  width: 25px;
}

.header-filter {
  align-items: center;
  animation: animeFilter 0.6s forwards;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-30px);
  width: 400px;
}

@keyframes animeFilter {

  to {
    opacity: 1;
    transform: initial;
  }
}

.header-search-bar {
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 400px;
}

.header-options {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.header-options input {
  border: 0;
  height: 30px;
  margin-right: 5px;
  width: 15px;
}

.header-options label {
  align-items: center;
  color: white;
  display: flex;
}

.header-filter button {
  background-color: #0fa36b;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  height: 30px;
  width: 120px;
}

@media only screen and ( max-width : 556px ) {

  .header-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .header-search-bar {
    width: 300px;
  }

  .header-options {
    width: 300px;
  }
}
