.recipes-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 70px;
  width: 90vw;
}

.recipe-card {
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 18rem;
}

.recipe-card img {
  border-radius: 10px 10px 0 0;
  height: 250px;
  margin-bottom: 20px;
  width: 100%;
}

.recipe-card p {
  align-self: flex-start;
  font-size: 24px;
  margin-left: 20px;
}
