@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap') ;

html {

  --main-green: #38d39f;

  --main-purple: #9d38d3;
}

* {
  box-sizing: border-box;
  font-family: Nunito , sans-serif;
}

body {
  overflow-x: hidden;
}
